<!doctype html>
<html>
  <head>
    <title>Beer Reviews App</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/style.css">
  </head>
  <body>
    
    <div class="container">
      <h1>Beer Reviews App</h1>
      <p>Visit: <a href="/">Home</a> | <a href="/beers">Beers</a> | <a href="/reviews">Reviews</a> | <a href="/styles">Styles</a>
      <%= yield %>


    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
  </body>
</html>